<span>
\[\gdef{\mZ}{\mathbb{Z}}
  \gdef{\mN}{\mathbb{N}}

  \gdef{\xeightysix}{x86\_64}

  \gdef{\cryptoline}{\textrm{CryptoLine}}
  \gdef{\openssl}{\textrm{OpenSSL}}
  \gdef{\blst}{\textrm{blst}}
  \gdef{\pqclean}{\textrm{PQClean}}
  \gdef{\pqmfour}{\textrm{pqm4}}
  \gdef{\python}{\textrm{Python}}
  \gdef{\gdb}{\textrm{gdb}}
  \gdef{\ocaml}{\textrm{OCaml}}
  \gdef{\opam}{\textrm{opam}}
  \gdef{\boolector}{\textrm{boolector}}
  \gdef{\singular}{\textrm{Singular}}
  \gdef{\ubuntu}{\textrm{ubuntu}}

  \gdef{\cryptolinehome}{\texttt{\\$(CL\_HOME)}}
  \gdef{\itrace}{\texttt{itrace.py}}
  \gdef{\tozdsl}{\texttt{to\_zdsl.py}}
  \gdef{\nistzadd}{\texttt{ecp\_nistz256\_add}}
  \gdef{\nistzaddgas}{\texttt{ecp\_nistz256\_add.gas}}
  \gdef{\nistzaddcl}{\texttt{ecp\_nistz256\_add.cl}}
  \gdef{\nistzmul}{\texttt{ecp\_nistz256\_mul\_mont}}
  \gdef{\nistzmulgas}{\texttt{ecp\_nistz256\_mul\_mont.gas}}
  \gdef{\nistzmulcl}{\texttt{ecp\_nistz256\_mul\_mont.cl}}


  \gdef{\derefop}{\mathit{\$}}
  \gdef{\deref}#1{\mathit{\$#1}}
  \gdef{\wordsize}{W}
  \gdef{\prog}{\mathit{prog}}
  \gdef{\stmt}{\mathit{stmt}}
  \gdef{\proc}{\mathit{proc}}
  \gdef{\formals}{\mathit{formals}}
  \gdef{\true}{\mathit{true}}
  \gdef{\minusop}{-}
  \gdef{\eqop}{=}
  \gdef{\negop}{\sim}
  \gdef{\addop}{&#43;}
  \gdef{\subop}{-}
  \gdef{\mulop}{*}
  \gdef{\powop}{**}
  \gdef{\landop}{\mathit{/\backslash}}
  \gdef{\lorop}{\mathit{\backslash/}}
  \gdef{\notop}{!}
  \gdef{\andop}{\mathit{\text{\&amp;}}}
  \gdef{\orop}{\mathit{|}}
  \gdef{\xorop}{\mathit{\text{\textasciicircum}}}
  \gdef{\ultop}{\mathit{&lt;}}
  \gdef{\uleop}{\mathit{&lt;=}}
  \gdef{\ugtop}{\mathit{&gt;}}
  \gdef{\ugeop}{\mathit{&gt;=}}
  \gdef{\sltop}{\mathit{&lt;s}}
  \gdef{\sleop}{\mathit{&lt;=s}}
  \gdef{\sgtop}{\mathit{&gt;s}}
  \gdef{\sgeop}{\mathit{&gt;=s}}
  \gdef{\iult}{\mathit{ult}}
  \gdef{\iule}{\mathit{ule}}
  \gdef{\iugt}{\mathit{ugt}}
  \gdef{\iuge}{\mathit{uge}}
  \gdef{\islt}{\mathit{slt}}
  \gdef{\isle}{\mathit{sle}}
  \gdef{\isgt}{\mathit{sgt}}
  \gdef{\isge}{\mathit{sge}}
  \gdef{\pre}{\mathit{pre}}
  \gdef{\post}{\mathit{post}}
  \gdef{\pred}{\mathit{pred}}
  \gdef{\epred}{\mathit{epred}}
  \gdef{\rpred}{\mathit{rpred}}
  \gdef{\predclause}{\mathit{pred\_clause}}
  \gdef{\epredclause}{\mathit{epred\_clause}}
  \gdef{\rpredclause}{\mathit{rpred\_clause}}
  \gdef{\iuext}{\mathit{uext}}
  \gdef{\isext}{\mathit{sext}}
  \gdef{\imod}{\mathit{mod}}
  \gdef{\iumod}{\mathit{umod}}
  \gdef{\ismod}{\mathit{smod}}
  \gdef{\isrem}{\mathit{srem}}
  \gdef{\ilimbs}{\mathit{limbs}}
  \gdef{\eexp}{\mathit{eexp}}
  \gdef{\rexp}{\mathit{rexp}}
  \gdef{\instr}{\mathit{instr}}
  \gdef{\imov}{\mathit{mov}}
  \gdef{\iadd}{\mathit{add}}
  \gdef{\iuadd}{\mathit{uadd}}
  \gdef{\isadd}{\mathit{sadd}}
  \gdef{\iadds}{\mathit{adds}}
  \gdef{\iuadds}{\mathit{uadds}}
  \gdef{\isadds}{\mathit{sadds}}
  \gdef{\iaddr}{\mathit{addr}}
  \gdef{\iuaddr}{\mathit{uaddr}}
  \gdef{\isaddr}{\mathit{saddr}}
  \gdef{\iadc}{\mathit{adc}}
  \gdef{\iuadc}{\mathit{uadc}}
  \gdef{\isadc}{\mathit{sadc}}
  \gdef{\iadcs}{\mathit{adcs}}
  \gdef{\iuadcs}{\mathit{uadcs}}
  \gdef{\isadcs}{\mathit{sadcs}}
  \gdef{\iadcr}{\mathit{adcr}}
  \gdef{\iuadcr}{\mathit{uadcr}}
  \gdef{\isadcr}{\mathit{sadcr}}
  \gdef{\isub}{\mathit{sub}}
  \gdef{\iusub}{\mathit{usub}}
  \gdef{\issub}{\mathit{ssub}}
  \gdef{\isubs}{\mathit{subs}}
  \gdef{\iusubs}{\mathit{usubs}}
  \gdef{\issubs}{\mathit{ssubs}}
  \gdef{\isubc}{\mathit{subc}}
  \gdef{\iusubc}{\mathit{usubc}}
  \gdef{\issubc}{\mathit{ssubc}}
  \gdef{\isubb}{\mathit{subb}}
  \gdef{\iusubb}{\mathit{usubb}}
  \gdef{\issubb}{\mathit{ssubb}}
  \gdef{\isubr}{\mathit{subr}}
  \gdef{\iusubr}{\mathit{usubr}}
  \gdef{\issubr}{\mathit{ssubr}}
  \gdef{\isbc}{\mathit{sbc}}
  \gdef{\iusbc}{\mathit{usbc}}
  \gdef{\issbc}{\mathit{ssbc}}
  \gdef{\isbcs}{\mathit{sbcs}}
  \gdef{\iusbcs}{\mathit{usbcs}}
  \gdef{\issbcs}{\mathit{ssbcs}}
  \gdef{\isbcr}{\mathit{sbcr}}
  \gdef{\iusbcr}{\mathit{usbcr}}
  \gdef{\issbcr}{\mathit{ssbcr}}
  \gdef{\isbb}{\mathit{sbb}}
  \gdef{\iusbb}{\mathit{usbb}}
  \gdef{\issbb}{\mathit{ssbb}}
  \gdef{\isbbs}{\mathit{sbbs}}
  \gdef{\iusbbs}{\mathit{usbbs}}
  \gdef{\issbbs}{\mathit{ssbbs}}
  \gdef{\isbbr}{\mathit{sbbr}}
  \gdef{\iusbbr}{\mathit{usbbr}}
  \gdef{\issbbr}{\mathit{ssbbr}}
  \gdef{\imul}{\mathit{mul}}
  \gdef{\iumul}{\mathit{umul}}
  \gdef{\ismul}{\mathit{smul}}
  \gdef{\imuls}{\mathit{muls}}
  \gdef{\iumuls}{\mathit{umuls}}
  \gdef{\ismuls}{\mathit{smuls}}
  \gdef{\imulr}{\mathit{mulr}}
  \gdef{\iumulr}{\mathit{umulr}}
  \gdef{\ismulr}{\mathit{smulr}}
  \gdef{\imull}{\mathit{mull}}
  \gdef{\iumull}{\mathit{umull}}
  \gdef{\ismull}{\mathit{smull}}
  \gdef{\imulj}{\mathit{mulj}}
  \gdef{\iumulj}{\mathit{umulj}}
  \gdef{\ismulj}{\mathit{smulj}}
  \gdef{\isplit}{\mathit{split}}
  \gdef{\ispl}{\mathit{spl}}
  \gdef{\ijoin}{\mathit{join}}
  \gdef{\ishl}{\mathit{shl}}
  \gdef{\ishls}{\mathit{shls}}
  \gdef{\ishr}{\mathit{shr}}
  \gdef{\ishrs}{\mathit{shrs}}
  \gdef{\isar}{\mathit{sar}}
  \gdef{\isars}{\mathit{sars}}
  \gdef{\icshl}{\mathit{cshl}}
  \gdef{\icshr}{\mathit{cshr}}
  \gdef{\icshrs}{\mathit{cshrs}}
  \gdef{\iset}{\mathit{set}}
  \gdef{\iclear}{\mathit{clear}}
  \gdef{\inondet}{\mathit{nondet}}
  \gdef{\icmov}{\mathit{cmov}}
  \gdef{\ieq}{\mathit{eq}}
  \gdef{\ieqmod}{\mathit{eqmod}}
  \gdef{\iequmod}{\mathit{equmod}}
  \gdef{\ieqsmod}{\mathit{eqsmod}}
  \gdef{\ieqsrem}{\mathit{eqsrem}}
  \gdef{\ineg}{\mathit{neg}}
  \gdef{\iand}{\mathit{and}}
  \gdef{\ior}{\mathit{or}}
  \gdef{\ixor}{\mathit{xor}}
  \gdef{\inot}{\mathit{not}}
  \gdef{\iassert}{\mathit{assert}}
  \gdef{\iassume}{\mathit{assume}}
  \gdef{\ighost}{\mathit{ghost}}
  \gdef{\icut}{\mathit{cut}}
  \gdef{\iecut}{\mathit{ecut}}
  \gdef{\ircut}{\mathit{rcut}}
  \gdef{\icast}{\mathit{cast}}
  \gdef{\ivpc}{\mathit{vpc}}
  \gdef{\icall}{\mathit{call}}
  \gdef{\inop}{\mathit{nop}}
  \gdef{\iconst}{\mathit{const}}
  \gdef{\iprove}{\mathit{prove}}
  \gdef{\iwith}{\mathit{with}}
  \gdef{\provewith}{\mathit{prove\_with}}
  \gdef{\precondition}{\mathit{precondition}}
  \gdef{\all}{\mathit{all}}
  \gdef{\cuts}{\mathit{cuts}}
  \gdef{\assumes}{\mathit{assumes}}
  \gdef{\ghosts}{\mathit{ghosts}}
  \gdef{\algebra}{\mathit{algebra}}
  \gdef{\range}{\mathit{range}}
  \gdef{\solver}{\mathit{solver}}
  \gdef{\varseq}{\mathit{varseq}}
  \gdef{\atom}{\mathit{atom}}
  \gdef{\atomseq}{\mathit{atomseq}}
  \gdef{\var}{\mathit{var}}
  \gdef{\tvar}{\mathit{typed\_var}}
  \gdef{\lval}{\mathit{lval}}
  \gdef{\simpleconst}{\mathit{simple\_const}}
  \gdef{\complexconst}{\mathit{complexy\_const}}
  \gdef{\const}{\mathit{const}}
  \gdef{\tconst}{\mathit{typed\_const}}
  \gdef{\id}{\mathit{id}}
  \gdef{\path}{\mathit{path}}
  \gdef{\smt}{\mathit{smt}}
  \gdef{\cas}{\mathit{cas}}
  \gdef{\singularsolver}{\mathit{singular}}
  \gdef{\sagesolver}{\mathit{sage}}
  \gdef{\magmasolver}{\mathit{magma}}
  \gdef{\mathematicasolver}{\mathit{mathematica}}
  \gdef{\macaulaysolver}{\mathit{macaulay2}}
  \gdef{\maplesolver}{\mathit{maple}}
  \gdef{\typ}{\mathit{typ}}
  \gdef{\letter}{\mathit{letter}}
  \gdef{\digit}{\mathit{digit}}
  \gdef{\underscore}{\mathit{underscore}}
  \gdef{\uint}{\mathsf{uint}}
  \gdef{\sint}{\mathsf{sint}}
  \gdef{\bit}{\mathsf{bit}}
  \gdef{\band}{\&amp;\&amp;}\]
</span>
